In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
shops = pd.read_csv('data/shops.csv')
items = pd.read_csv('data/items.csv')

In [5]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [7]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

We create the 10 most importante features for shops name and items name

In [8]:
t = TfidfVectorizer(max_features=10)
feats_shop = t.fit_transform(raw_documents=shops.shop_name)
feats_items = t.fit_transform(raw_documents=items.item_name)

In [9]:
np.array([feats_shop])

array([<60x10 sparse matrix of type '<class 'numpy.float64'>'
	with 82 stored elements in Compressed Sparse Row format>], dtype=object)

In [10]:
np.array([feats_items])

array([<22170x10 sparse matrix of type '<class 'numpy.float64'>'
	with 18250 stored elements in Compressed Sparse Row format>],
      dtype=object)

**These features do not have improved the final model**